<div>
  <form [formGroup]="formFilter">
    <div [ngClass]="{'noActive': isLoading}">
      <div class="flex-container custom-input-section">
        <!-- Sezione Checkbox -->
        <section class="example-section">
          <span><mat-checkbox formControlName="sop">SOP</mat-checkbox></span>
          <span><mat-checkbox formControlName="cit">CIT</mat-checkbox></span>
          <span><mat-checkbox formControlName="co2">CO2</mat-checkbox></span>
          <span><mat-checkbox formControlName="gia">GIA</mat-checkbox></span>
        </section>
        <!-- Select Tipo Traccia -->
        <mat-form-field class="custom-input">
          <mat-label>Tipo Traccia</mat-label>
          <mat-select formControlName="idTipoTraccia" (selectionChange)="changeTipoTraccia($event)">
            <mat-option value="-1">Tutte le tracce</mat-option>
            <mat-option *ngFor="let tipo of tracciaTypes" [value]="tipo.id">{{ tipo.descrizione }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Input Numero di Righe e Abilita input -->
        <div class="flex">
          <mat-form-field class="custom-input">
            <mat-label>Numero di righe</mat-label>
            <input matInput formControlName="numeroRighe" type="number" min="1" step="1">
          </mat-form-field>
          <mat-checkbox formControlName="abilitaNumeroRighe">Abilita input</mat-checkbox>
        </div>
        <!-- Date Range Picker -->
        <mat-form-field class="date-picker-field" appearance="fill">
          <mat-label>Inserisci una data</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="formFilter">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <!-- Barra di Ricerca Descrizione -->
      <div class="full-width-container">
        <mat-form-field class="full-width-search">
          <mat-label>Cerca per descrizione</mat-label>
          <input matInput formControlName="descrizione" placeholder="Cerca per descrizione">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="height: 5px;">Ciao</mat-progress-bar>
  <br>
</div>