mat-toolbar{
  background: #2F4858;
  color: #F4F4F9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.menuGradient{
  background: #788C9A;
  background: linear-gradient(120deg, rgba(47,72,88,1) 0%, rgba(120,140,154,1) 50%, rgba(211,216,224,1) 100%);
}

.menuShadow{
  border-radius: 4px;
  box-shadow:  8px -8px 25px #1B3038,
               -8px 8px 25px #53676D;
}

mat-sidenav{
  position: fixed;
  margin: 2px;
  margin-top: 70px;
  width: 200px;
  height: 500px;
  border-right: none;
  background:#2F4858;
  color: #F4F4F9;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content{
  margin: 16px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #354F52;
  border-radius: 10px;
}

.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

mat-icon{
  margin-right: 8px;
  color: #D3D8E0;
}

span{
  color: #D3D8E0;
}

.name{
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}

.designation{
  margin-top: 2px;
  font-size: 0.7rem;
  color: #B0B7BD;
}

mat-divider{
  margin-top: 16px;
  margin-bottom: 16px;
}

.divider{
  background-color: #1B3038;
}

.box{
  flex-basis: 15rem;
  flex-grow: 1;
  margin: 10px;
  width: 100%;
}

.custom-color {
  color: #ffffff !important;
}

.logo {
  height: 75px;
  width: auto;
  margin-left: auto;
}

.links a {
  display: block;
  padding: 10px 15px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
}

.links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #D3D8E0;
  transition: width .2s;
}

.links a:hover {
  background: #1B3038;
  color: #F4F4F9;
}

.links a:hover::after {
  width: 100%;
  left: 0;
  background: #F4F4F9;
}

button[mat-icon-button] {
  transition: transform 0.3s ease-in-out;
}

button[mat-icon-button].open {
  transform: rotate(90deg);
}